.apartados__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "politica   politica    economia    economia    economia"
    "deportes   deportes   deportes    espectaculo espectaculo"
    "tecno      tecno       salud       salud       salud"
    "clima      clima       clima       envivo      envivo";
    padding-top: 20px;
}

.apartados__name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.apartados__name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 41, 67, 0.25);
}

/* .apartados__name:hover::after {
    animation-name: quitar-fondo;
    animation-duration: 1s;
} */

.apartados__politica {
    grid-area: politica;
    background: url(../images/politica.jpg);
    background-size: cover;
}

.apartados__economia {
    grid-area: economia;
    background: url(../images/economia.jpg);
    background-size: cover;
}

.apartados__deportes {
    grid-area: deportes;
    background: url(../images/deportes.jpg);
    background-size: cover;
}

.apartados__espectaculo {
    grid-area: espectaculo;
    background: url(../images/espectaculo.jpg);
    background-size: cover;
}

.apartados__tecno {
    grid-area: tecno;
    background: url(../images/tecno.jpg);
    background-size: cover;
}

.apartados__salud {
    grid-area: salud;
    background: url(../images/salud.jpg);
    background-size: cover;
}

.apartados__clima {
    grid-area: clima;
    background: url(../images/clima.jpg);
    background-size: cover;
}

.apartados__envivo {
    grid-area: envivo;
    background: url(../images/en-vivo.jpg);
    background-size: cover;
}

.apartados__envivo .apartados__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apartados__text {
    z-index: 1;
    padding: 5px 10px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    text-shadow: 0 4px 10px #000000;
    box-shadow: 0 4px 10px #000000;
}
