.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    background-color: rgba(229, 229, 229, 0.3);
    border: 1px solid var(--color-black);
}

.contacto__label {
    display: block; /* Para que el label no pise los demás elementos */
    padding: 5px 0;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color-black);
    text-transform: uppercase;
}

.contacto__input,
.contacto__msj {
    padding: 10px 5px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #767676;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background: transparent;
}

.contacto__input:focus,
.contacto__msj:focus {
    font-weight: 500;
    outline: none;
    border-bottom: 2px solid var(--main-color);
}

.contacto div:last-child {
    display: flex;
    gap: 10px;
}

input[type="submit"],
input[type="reset"] {
    flex-basis: 50%;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-black); /* Especifico porque el Iphone me toma otro color */
    text-transform: uppercase;
    border: none;
    background-color: rgba(196, 196, 196, 0.4);
}

.contacto__nav {
    margin: 30px 0;
}

.contacto__ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 0;
    list-style: none;
}

/* .contacto__li {
    padding: 5px;
} */

.contacto__link {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
}

.contacto__icon {
    width: 35px;
}


/* 
.contacto__flex {
    padding: 5px;
    background-color: #F5F5F5;
}

.contacto__cont {
    background-color: #FFE6CC;
}

.contacto__label {
    background-color: #F8CECC;
}

.contacto__input {
    background-attachment: #F8CECC;
} 

.contacto__nav {
    padding: 5px;
    background-color: #DAE8FC;
}

.contacto__ul {
    padding: 5px;
    background-color: #F5F5F5;
}

.contacto__li {
    background-color: #FFE6CC;
}

.contacto__link {
    padding: 5px;
    background-color: #F8CECC;
} */


