.covid-19 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 10px;
    background-color: rgba(229, 229, 229, 0.6);
}

.covid-19__link {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.covid-19__link h4 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-style: italic;
}

/* ACA ME QUEDE *************************************/

.covid-19__link p {
    margin-bottom: 0;
    margin-top: 10px;
}

.covid-19 > div {

}

.covid-19__icon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

/*
covid-19__footer {
    padding: 5px;
    font-family: 'Lato Bold';
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    background-color: #FE4342;
    overflow: hidden;
}

.covid-19__scroll-text {
    margin: 0;
    animation: scroll-text;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */
