.covid-19 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    gap: 20px;
    padding: 20px 20px;
    background-color: rgba(229, 229, 229, 0.4);
    background-color: #e8e8e8;
}

.covid-19__link {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.covid-19__link h4 {
    margin: 10px 0;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
}

.covid-19__link p {
    margin-bottom: 0;
    margin: 0;
}

.covid-19__icon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
}

.covid-19__footer {
    margin-left: -20px; /* Para quitar el margin-left de 20px del section */
    padding: 7px 0;
    min-width: 110%; /* Un poquito más de 100% porque lo corrí -20px para la izquierda */
    width: max-content;
    font-family: 'Lora';
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    background-color: #FE4342;
}

.covid-19__scroll-text {
    margin: 0;
    animation: scroll-text;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* .covid-19 {
    background-color: #FFF2CC;
}

.covid-19__link {
    background-color: #DAE8FC;
}

.covid-19__link div {
    background-color: #F5F5F5;
}
.covid-19__link h4,
.covid-19__link p {
    background-color: #FFE6CC;
}

.covid-19__footer {
    background-color: #FFF2CC;
}

.covid-19__scroll-text {
    background-color: #DAE8FC;
} */