.dolar-hoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
}

.dolar-hoy h3 {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #70A38B;
    text-transform: uppercase;
}

.dolar-hoy p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.dolar-hoy span {
    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
    font-size: 2em;
}