.header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--color-black);
}

.header__logo {
    width: 30px;
}

.header__flex {
    display: flex;
    align-items: center;
    gap: 10px;
    height: inherit;
}

.header__title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    font-family: 'DM Serif Display', serif;
    font-size: 2em;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header__link {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__menu {
    height: inherit;
}

.header__usuario {
    height: 30px;
}