.historias__body {
    display: flex;
    margin-top: 5px;
}

.historias__links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 16.66%;
    margin: 5px;
    height: 300px;
}

.historias__text {
    margin: 5px;
    width: 70%;
    font-family: 'Archivo SemiBoldItalic';
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 0 10px #000000;
}

.historias__text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.historias__links:hover .historias__text::after {
    animation-name: quitar-fondo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.historias--lora {
    align-self: center;
    margin: 5px;
    width: 70%;
    font-family: 'Lora Regular';
    font-size: 1.5em;
    font-weight: lighter;
}

.garcia-marquez {
    background: url(../assets/images/gabriel-garcia-marquez.jpg);
    background-position: center;
}

.djokovic {
    background: url(../assets/images/djokovic2.jpg);
    background-size: cover;
    background-position-x: right;
}

.trump {
    background: url(../assets/images/trump.jpg);
    background-size: cover;
    background-position: center;
}

.larson {
    background: url(../assets/images/larson.jpg);
    background-size: cover;
}

.castillo {
    background: url(../assets/images/castillo.jpg);
    background-size: cover;
}
