@media screen and (min-width: 700px) {
    .section__link {
        width: 650px;
    }
    
    .section__article {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .section__img--portada {
        margin: 0;
        width: 300px;
    }

    .section__img {
        display: initial;
        width: 200px;
    }

    hr {
        width: 660px;
    }

    .apartados__body {
        align-items: center;
    }
    
    .apartados__name {
        width: 432px;
    }

    .destacados__link {
        width: 100%;
    }

    .covid-19 {
        flex-direction: row;
        justify-content: center;
    }
}


@media screen and (min-width: 960px) {
    .section {
        margin: 100px 90px 0 90px;
    }

    .destacados,
    .juegos {
        flex-direction: row;
    }

    .destacados__subtitle,
    .juegos__subtitle {
        flex-basis: 20%;
        padding: 20px;
    }

    .destacados div,
    .juegos div {
        flex-direction: row;
        gap: 20px; 
    }

    .contacto {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 30px;
    }

    .contacto  hr {
        display: none;
    }

    .contacto__ul {
        gap: 50px;
    }
}