.section {
    margin: 100px 20px 0 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* Sección contacto */
.section:last-child {
    margin-bottom: 100px;
}

/* Secció destacados */
.section:nth-child(4),
.section:nth-child(2) {
    padding-bottom: 80px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border-bottom: 4px solid var(--color-black);
}

.section__name {
    margin: 5px;
    font-family: 'Cinzel', serif;
    font-size: 1.7em;
}

.section__ver-mas {
    margin: 70px 0 20px 0;
    padding-bottom: 3px;
    text-transform: uppercase;
    color: var(--main-color);
    border-bottom: 1.5px solid var(--main-color);
}

.section__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__link {
    display: block;
    padding: 20px;
}

.section__link:hover {
    background-color: rgba(0,0,0,0.05);
}

.section__article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section__img--portada {
    margin-bottom: 20px;
    width: 100%;
}

.section__img {
    display: none;
}

/* .section__flex {} */

.section__title {
    margin: 5px;
    font-family: 'Lora', serif;
}

.section__resume {
    margin: 15px 5px;
    color: var(--color-gray);
}

.section__footer {
    display: flex;
    align-items: center;
    margin: 5px;
}

.section__icon {
    width: 10px;
}

.section__lectura {
    margin: 5px;
    font-size: 0.6em;
    text-transform: uppercase;
}






/* .section {
    padding: 5px;
    background-color: #D5E8D4;
}

.section__header {
    background-color: #FFF2CC;
}

.section__name {
    background-color: #DAE8FC;
}

.section__ver-mas {
    background-color: #DAE8FC;
}

.section__body {
    background-color: #FFF2CC;
}

.section__link {
    background-color: #DAE8FC;
}

.section__article {
    background-color: #F5F5F5;
}

.section__img--portada {
    background-color: #FFE6CC;
}

.section__img {
    background-color: #FFE6CC;
}

.section__flex {
    background-color: #FFE6CC;
}

.section__title {
    background-color: #F8CECC;
}

.section__resume {
    background-color: #F8CECC;
}

.section__footer {
    background-color: #F8CECC;
}

.section__icon {
    background-color: #E1D5E7;
}

.section__lectura {
    background-color: #E1D5E7;
} */
