:root {
    --main-color: #0969da;
    --color-black: #202329;
    --color-gray: #b3b3b3;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Source Serif Pro', serif;
    color: var(--color-black);
}

hr {
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.img {
    filter: saturate(40%);
    -webkit-filter: saturate(40%);
}

/* Otros estilos */

.live-dot {
    width: 8px;
    animation-name: desaparecer;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}