:root {
    --main-color: #0969da;
    --color-black: #202329;
    --color-gray: #929292;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Source Serif Pro', serif;
    color: var(--color-black);
}

.cont-all {
    width: 100%;
}

hr {
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
}

main {
    overflow: hidden; /* Para que el scroll-text se esconda */
}

.img {
    filter: saturate(40%);
    -webkit-filter: saturate(40%);
}

/* Otros estilos */

.live-dot {
    width: 8px;
    animation-name: desaparecer;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.up-button {
    position: fixed;
    display: block;
    right: 15px;
    bottom: 20px;
}

.up-button img {
    width: 45px;
}