@media screen and (min-width: 700px) {
    .section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section__link {
        width: 650px;
    }
    
    .section__article {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .section__img--portada {
        margin: 0;
        width: 300px;
    }

    .section__img {
        display: initial;
        width: 200px;
    }

    hr {
        width: 660px;
    }

    .apartados__body {
        margin: 20px 0;
        align-items: center;
    }
    
    .apartados__name {
        width: 432px;
    }
}


@media screen and (min-width: 960px) {
    .section {
        margin: 100px 90px 0 90px;
    }

    .covid-19 {
        margin-left: 0; /* Pisando el -20px */
        margin-right: 0; /* Pisando el -20px */
    }

    .covid-19__footer {
        min-width: 100%; /* Para pisar el min-width: 110% */
        margin: 0;
    }
}

@media screen and (min-width: 1090px) {
    .cont-all {
        margin-right: 272px;
    }
    
    .header__menu {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section {
        width: 910px;
    }

    .footer {
        background-color: #c0c0c0;
    }

    .nav {
        top: 0;
        right: 0;
        height: 100%;
        z-index: 2;
    }
}